.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #fce7a3;

    

}
.left-section li{
    list-style-type: none;  

}


.logo-ppgt {
    width: 50px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.middle-section li{
    list-style-type: none;
    float: left;
    padding-right: 20px;
    font-family: 'Inter', sans-serif;
    transition: 0.5s;

}

.middle-section li:hover {
    color: #4ad24a;
    cursor: pointer;
}

.right-section {
    display: flex;
    width: 100px;
   
}

.logo-search {
    width: 24px;
    padding-left: 20px;
}





